.flex-container {
  height: 80vh;
  width: 450px;
  margin: 4rem auto 1rem;
  padding: 1rem 1rem;
  background-color: #cafff3;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  font-size: 1.2rem;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flex-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flex-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.radio-items-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #eafffa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 20px;
  margin: 1rem 0rem;
}

.radio-items-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.radio-item {
  padding: 0.5rem;
}

.radio-item.station {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
  font-weight: 500;
}

.radio-item.frequency {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  font-weight: 600;
}

.inner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all 0.3s;
}

.inner-container.expanded {
  height: auto;
  opacity: 1;
  padding: 0 0 1rem;
}

.inner-container.collapsed {
  height: 0;
  opacity: 0;
  padding: 0;
}

.image {
  margin: 1rem;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
