.navbar {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 520px) {
  .navbar {
    font-size: 1.3rem;
  }
}
